<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.jmarcon.clearallnotifications</string>
	<key>connections</key>
	<dict>
		<key>264A09D9-DE34-403A-9524-C67F6525811D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A835027F-D8D2-4DFE-977B-C5C84C771703</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4BC90706-D1BA-4DA1-AC47-B41B76E7EA9B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A7BC61CC-510A-4FCE-9F83-509D929534BA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9337C883-F163-4E12-8AA7-296FBB268557</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A835027F-D8D2-4DFE-977B-C5C84C771703</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DDA1463D-9730-4BAB-A150-C188DF9129B7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9684411C-7564-43DC-BEA0-CB312AA79F94</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Juliano Marcon</string>
	<key>description</key>
	<string>Clear All Notifications</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>ClearALL</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>clear</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Close All Notifications</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>264A09D9-DE34-403A-9524-C67F6525811D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
	tell application "System Events"		tell process "Notification Center"			set theseWindows to every window whose subrole is "AXNotificationCenterAlert" or subrole is "AXNotificationCenterBanner"			repeat with i from 1 to number of items in theseWindows				set this_item to item i of theseWindows				try					click button 1 of this_item				on error					my alfred_script(q)				end try			end repeat		end tell	end tell
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>A835027F-D8D2-4DFE-977B-C5C84C771703</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>close all</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Close All Notifications</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9337C883-F163-4E12-8AA7-296FBB268557</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
	tell application "System Events" to tell process "Notification Center"
		click button 1 of last item of windows
	end tell
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>9684411C-7564-43DC-BEA0-CB312AA79F94</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>close one</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Close the top-most notification</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>DDA1463D-9730-4BAB-A150-C188DF9129B7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>click</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Click in the top-most notification</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>4BC90706-D1BA-4DA1-AC47-B41B76E7EA9B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
	tell application "System Events" to tell process "Notification Center"
			click last item of windows
	end tell
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>A7BC61CC-510A-4FCE-9F83-509D929534BA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>It will close all opened alert notifications in your macos.

close or clear: will close all the notifications
close one: will close the top most notification in the list
click: will click in the top most notification in the list</string>
	<key>uidata</key>
	<dict>
		<key>264A09D9-DE34-403A-9524-C67F6525811D</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>45</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>4BC90706-D1BA-4DA1-AC47-B41B76E7EA9B</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>395</integer>
		</dict>
		<key>9337C883-F163-4E12-8AA7-296FBB268557</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>45</integer>
			<key>ypos</key>
			<integer>135</integer>
		</dict>
		<key>9684411C-7564-43DC-BEA0-CB312AA79F94</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>Close the TOP-MOST notification</string>
			<key>xpos</key>
			<integer>265</integer>
			<key>ypos</key>
			<integer>245</integer>
		</dict>
		<key>A7BC61CC-510A-4FCE-9F83-509D929534BA</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>note</key>
			<string>Click the TOP-MOST notification</string>
			<key>xpos</key>
			<integer>265</integer>
			<key>ypos</key>
			<integer>395</integer>
		</dict>
		<key>A835027F-D8D2-4DFE-977B-C5C84C771703</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>Close all notifications</string>
			<key>xpos</key>
			<integer>265</integer>
			<key>ypos</key>
			<integer>75</integer>
		</dict>
		<key>DDA1463D-9730-4BAB-A150-C188DF9129B7</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>245</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.2</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
